@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 10, 16, 31;
    --foreground-rgb: 255, 255, 255;
}

* ::after, * ::before {
  box-sizing: border-box;
}

* {
  margin: 0px;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  background-repeat: no-repeat;
}