
.menu-btn-open {
    transform-origin: center;
    width: 0px;
    transition: width 0.2s ease-in;
}

.menu-btn-open::after {
    transform-origin: center;
    transform: rotate(-45deg) translateY(-12px);
    transition: transform 0.2s ease-in;
}

.menu-btn-open::before {
    transform-origin: center;
    transform: rotate(45deg) translateY(12px);
    transition: transform 0.2s ease-in;
}

.menu-btn-close {
    transform-origin: center;
    transition: width 0.2s ease-in;
}

.menu-btn-close::after {
    transform-origin: center;
    transform: rotate(0deg) translateY(0px);
    transition: transform 0.2s ease-in;
}

.menu-btn-close::before {
    transform-origin: center;
    transform: rotate(0deg) translateY(0px);
    transition: transform 0.2s ease-in;
}